<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<h2>User info</h2>
<br>
<form th:method="POST" th:action="@{/saveUser}" th:object="${user}">

    <input type="hidden" th:field="*{id}" />

    Name <label>
    <input name="name" type="text" >
</label>
    <br>
    <br>
    Surname <label>
    <input name="surname" type="text" >
</label>
    <br>
    <br>
    Salary <label>
    <input name="salary" type="text">
</label>
    <br>
    <br>
    <input type="submit" value="OK">

</form>
</body>
</html>
